{% extends "NexusCoreBundle::layout.html.twig" %}

{%block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Nexus. <strike>Work Hard</strike>. Play Harder.</h1>
        <div class="col-md-3">
            <img src="{{ asset('images/NexusCharacter/G01.png')}}" class="img-responsive img-avatar"/>

        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <p class="text-center"><i class="fa fa-tasks fa-4x"></i></p>
                    <h2 class="text-center">Work</h2>
                </div>
                <div class="col-md-4">
                    <p class="text-center"><i class="fa fa-bolt fa-4x"></i></p>
                    <h2 class="text-center">Fight</h2>
                </div>
                <div class="col-md-4">
                    <p class="text-center"><i class="fa fa-heart-o  fa-4x"></i></p>
                    <h2 class="text-center">Survive</h2>
                </div>
            </div>
            <div class="pull-right" style="margin-top:20px;">
                <a href="{{ path('nexus_core_homepage') }}" class="btn btn-primary btn-lg" role="button">Play &raquo;</a>
            </div>
        </div>

    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h1><i class="fa fa-tasks"></i> Work</h1>
            <p>Work influences your character. Nexus is designed around four core principles:</p>
        </div>

        <div class="col-md-4">
            <h1><i class="fa fa-bolt"></i> Fight</h1>
            <p>Fighting monsters can improve your experience up to <strong>three</strong> times per week.</p>

        </div>

        <div class="col-md-4">
            <h1><i class="fa fa-heart-o"></i> Survive</h1>
            <p>Your are not immortal. Your health is limited and needs to be managed. To regain some health you will have to:</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info"><i class="fa fa-lightbulb-o"></i><strong>Productivity</strong> gives you Experience</li>
                <li class="list-group-item list-group-item-info"><i class="fa fa-info"></i><strong>AHT</strong> makes you faster</li>
                <li class="list-group-item list-group-item-danger"><i class="fa fa-warning"></i><strong>FCR hits</strong> damages you</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-shield"></i><strong>CSAT</strong> protects you</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info"><i class="fa fa-random"></i>Monsters are random.</li>
                <li class="list-group-item list-group-item-danger"><i class="fa fa-warning"></i>Elites are very dangerous.</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-star"></i>Elites are very rewarding.</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info"><i class="fa fa-level-up"></i><strong>Level up</strong>: you will be fully healed</li>
                <li class="list-group-item list-group-item-danger"><i class="fa fa-warning"></i><strong>Die</strong>: you will also be fully healed, but will suffer from <strong>XP loss</strong>.</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-smile-o"></i><strong>Kill</strong> a monster: you will get some  minor health back. </li>
            </ul>
        </div> 

    </div>

    <div class="row">
        <div class="col-md-4">
            <!-- Button trigger modal -->
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#charactersheet">
                Tell me more
            </button> 
        </div>

        <div class="col-md-4">
            <!-- Button trigger modal -->
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#fight">
                Tell me more
            </button>
        </div>
        <div class="col-md-4"></div>

    </div>


    <!-- Modal Character Sheet -->
    <div class="modal fade" id="charactersheet" tabindex="-1" role="dialog" aria-labelledby="charactersheetLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="charactersheetLabel">Your character sheet</h4>
                </div>
                <div class="modal-body">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="{{ asset('images/NexusTutorial/charactersheet.png')}}" class="img-responsive img-avatar center-block"/>
                        </div>
                    </div>
                    <ul class="media-list">
                        <li class="media">
                            <div class="pull-left">
                                <img class="media-object" src="{{ asset('bundles/nexuscore/images/health.png') }}" alt="HP">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Health Points : HP</h4>
                                <p>Health Points are how much damage you can suffer before you <strong>die</strong>. This bar will show you how much Health left you have.</p>
                            </div>
                        </li>

                        <li class="media">
                            <div class="pull-left">
                                <img class="media-object" src="{{ asset('bundles/nexuscore/images/xp.png') }}" alt="XP">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Experience Points : XP</h4>
                                <p>Experience points are necessary to <strong>level up</strong>. This bar will show you how much you need for your next level.</p>
                            </div>
                        </li>

                        <li class="media">
                            <div class="pull-left">
                                <img class="media-object" src="{{ asset('bundles/nexuscore/images/power.png') }}" alt="PWR">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Power : PWR</h4>
                                <p>Power makes you <strong>Strong</strong>. Your level directly influences your power. Gather more experience to increase your level.</p>
                            </div>
                        </li>

                        <li class="media">
                            <div class="pull-left">
                                <img class="media-object" src="{{ asset('bundles/nexuscore/images/attackSpeed.png') }}" alt="AS">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Attack Speed : AS</h4>
                                <p>Attack Speed makes you <strong>Fast</strong>. Your Average Handle Time (AHT) directly influences your attack speed. Reduce your AHT in order to increase your Attack Speed.</p>
                            </div>
                        </li>

                        <li class="media">
                            <div class="pull-left">
                                <img class="media-object" src="{{ asset('bundles/nexuscore/images/dps.png') }}" alt="DPS">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Damage per second : DPS</h4>
                                <p>Damage per Second is the amount of health you remove to a monster each turn. Your Power and Attack Speed together determines your Damage per Second.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Fight -->
    <div class="modal fade" id="fight" tabindex="-1" role="dialog" aria-labelledby="fightLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="fightLabel">Monsters</h4>
                </div>
                <div class="modal-body">
                    <p>Monsters are generated randomly, as describe by the chart below. You can't know which monster you're going to fight beforehand, so be careful when deciding to fight. </p>
                    <div id="monsterchart"  style="width:450px; height:300px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    $(function () {

        var colors = Highcharts.getOptions().colors,
            categories = ['Normal', 'Elite'],
            name = 'Class',
            data = [{
                y: 80,
                color: colors[0],
                drilldown: {
                    name: 'Normal',
                    categories: ['+0 level', '+1 level', '+2 levels'],
                    data: [48, 24, 8],
                    color: colors[0]
                }
            }, {
                y: 20,
                color: colors[1],
                drilldown: {
                    name: 'Elite',
                    categories: ['+0 level', '+1 level', '+2 levels'],
                    data: [12, 6, 2],
                    color: colors[1]
                }
            }];


        // Build the data arrays
        var classData = [];
        var levelData = [];
        for (var i = 0; i < data.length; i++) {

            // add browser data
            classData.push({
                name: categories[i],
                y: data[i].y,
                color: data[i].color
            });

            // add version data
            for (var j = 0; j < data[i].drilldown.data.length; j++) {
                var brightness = 0.2 - (j / data[i].drilldown.data.length) / 5 ;
                levelData.push({
                    name: data[i].drilldown.categories[j],
                    y: data[i].drilldown.data[j],
                    color: Highcharts.Color(data[i].color).brighten(brightness).get()
                });
            }
        }

        // Create the chart
        $('#monsterchart').highcharts({

            credits: {
                enabled: false
            },

            chart: {
                type: 'pie'
            },
            title: {
                text: 'Monsters density'
            },
            yAxis: {
                title: {
                    text: 'What kind of monster can you fight?'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    center: ['50%', '50%']
                }
            },
            tooltip: {
                valueSuffix: '%'
            },
            series: [{
                name: 'Class',
                data: classData,
                size: '60%',
                dataLabels: {
                    formatter: function() {
                        return this.y > 5 ? this.point.name : null;
                    },
                    color: 'white',
                    distance: -30
                }
            }, {
                name: 'Level',
                data: levelData,
                size: '80%',
                innerSize: '60%',
                dataLabels: {
                    formatter: function() {
                        // display only if larger than 1
                        return this.y > 1 ? '<b>'+ this.point.name +':</b> '+ this.y +'%'  : null;
                    }
                }
            }]
        });
    });


</script>

{% javascripts filter='?yui_js' output='js/minify/*.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
