{% extends "NexusCoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite, ?yui_css' output='css/minify/*.css'
    '@NexusCoreBundle/Resources/public/css/index.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="row text-center">
	<h1>Welcome {{ user.username }} !</h1>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-sm-12 col-md-4">
        <div class="row">
            <div class="col-sm-12 col-md-12">    
                {% include "NexusCoreBundle:Core:character_sheet.html.twig" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                {% include "NexusCoreBundle:Core:monster_sheet.html.twig" %}
            </div>
        </div>

        {% if user.character.fight > 0 %}
            <div class="row">
                <div class="col-sm-12 col-md-12 text-center">
                    <button autocomplete = "off" type="button" class="btn btn-default btn-lg" id="fight-monster" data-loading-text="Fighting...">
                        <i class="fa fa-bolt"></i> &nbsp;Fight
                    </button>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-12">
                <div id="fight-result" class="alert hide">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        {% include "NexusCoreBundle:Core:event_base.html.twig" %}
    </div>

    <div class="col-sm-6 col-md-4">
        {% include "NexusCoreBundle:Core:leaderboard_base.html.twig" %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var TWIG = {};
        TWIG.icon_monster_path   = "{{ asset('images/NexusMonster/%icon%')}}";
        TWIG.icon_elite          = "{{ asset('bundles/nexuscore/images/elite.png') }}";
    </script>

    {% javascripts filter='?yui_js' output='js/minify/*.js'
        '@NexusCoreBundle/Resources/public/js/fight.js'
        '@NexusCoreBundle/Resources/public/js/event.js'
        '@NexusCoreBundle/Resources/public/js/leaderboard.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}